body {
  background-color: #1e1e1e;
}
.calculadora {
  margin: 100px;
  background-color: white;
}
button {
  margin: 2%;
  height: 45px;
  width: 50px;
  border-radius: 5px;
}
button,
h1{
  background-color: black;
}

.calculadora,
body,
h1 {
  padding: 15px;
}
button{
  color: white;
}